footer{
    text-align: center;
}

.navbar{
    width: 100%;
    height: 55px;
    background-color: #d7001e;
    margin: 0px;
    top: 0px;
    position: relative;
}

.navbar-nav .nav-item:hover{
    border-bottom: 2px solid #fff;
    background-color: white;
    color: black;
    border: 0px;
    position: relative;

}
.navbar-nav li a.active{
    border-bottom: 2px solid #fff;
}


.card-img-top{
    height: 200px;
    width: 140px;
}
.container-fluid{
    background-color:#d7001e;
}
