{% extends "base.html" %}
{% block title %}
    404 Not found 
{% endblock title %}

{% block content_title %}
    <div class = "404" align = 'center'>
         Упс....&#128579;
         <br>
         Вылезла ошибка 404..."Страница не найдена..."
    </div>
    <br><br><br><br>
{% endblock content_title %}
<br><br><br>
{% block content %}
<div class = "404" align = 'center'>
    <p>
        <h3>За что вы так с разработчиками? &#128104; &#8205; &#128187;</h3>
    </p>
    <p>
         <h3> Вы случайно поломали сайт. &#128531;</h3> 
         <img src = "{{ url_for('static', filename='images/images_sad_pepega.jpg') }}" alt = "Твой разработчик" width = "640px" height = "360px">
    </p> 
    <p>
        <h3> Вы точно ввели правильный адрес запроса? &#129300;</h3>
        <br><br><br>
        <h3> Проверьте правильность заданного вам запроса в адресной строке &#128583;</h3>        
    </p>
</div>
{% endblock content %}