{% extends "base.html" %}
{% block title %}
    500 Internal Server Error 
{% endblock title %}

{% block content_title %}
    <div class="500" align='center'>
         Упс.... &#128579;
         <br>
         Вылезла ошибка 500..."Внутренняя ошибка серверва"
    </div>
    <br><br><br><br>
{% endblock content_title %}
{% block content %}
<div class="500" align='center'>
    <p>
        <h3>Мы работаем над данной проблемой. &#128104;  &#8205;  &#128187;</h3>
    </p>
    <p>
         <img src="{{ url_for('static', filename='images/images_sad_pepega.jpg') }}" alt="Твой разработчик" width="640px" height="360px">
    </p> 
</div>
{% endblock content %}