{% extends "base.html" %}

{% block title %}
    F1 Top  
{% endblock title %}

{% block content_title %}   
    <h1 align='center'>Список рекордов Формулы 1</h1>
{% endblock content_title %}

{% block content %}
<p class="text" align= "center">В данном списке я показал вам, по моему мнению, "Топ" лучших пилотов Формулы 1, за всё время провождения 
    <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D1%80%D0%BC%D1%83%D0%BB%D0%B0-1">Королевских гонок</a>
    <table class="table table-dark table-striped">
        <thead>
            <tr align="center" class="left">
                <td class="right">№</td>
                <td class="right">Имя и Фамилия</td>
                <td class="right">Кол-во побед</td>
                <td class="right">Возраст</td>
                <td class="right">Команда</td>
                <td class="right">Активные года</td>
            </tr>
        </thead>
        <tbody>
            <tr align="center" class="right">
                <td>1</td>
                <td><a href="https://en.wikipedia.org/wiki/Lewis_Hamilton" target="_blank">Lewis Hamilton</a></td>
                <td>95</td>
                <td>35</td>
                <td>McLaren, Mercedes</td>
                <td>2007-2020</td>
            <tr align="center" class="right">
                <td>2</td>
                <td><a href="https://en.wikipedia.org/wiki/Michael_Schumacher" target="_blank">Michael Schumacher</a></td>
                <td>91</td>
                <td>52</td>
                <td>Jordan, Benetton, Ferrari, Mercedes</td>
                <td>1991-2012</td>
            <tr align="center" class="right">
                <td>3</td>
                <td><a href="https://en.wikipedia.org/wiki/Sebastian_Vettel" target="_blank">Sebastian Vettel</a></td>
                <td>53</td>
                <td>33</td>
                <td>BMW Sauber, Toro Rosso, Red Bull, Ferrari, Aston Martin(2021)</td>
                <td>2007-2020</td>
            <tr align="center" class="right">
                <td>4</td>
                <td><a href="https://en.wikipedia.org/wiki/Alain_Prost" target="_blank">Alain Prost</a></td>
                <td>51</td>
                <td>65</td>
                <td>McLaren, Renault, Ferrari, Williams</td>
                <td>1980-1993</td>
            <tr align="center" class="right">
                <td>5</td>
                <td><a href="https://en.wikipedia.org/wiki/Ayrton_Senna" target="_blank">Ayrton Senna</a></td>
                <td>41</td>
                <td>34</td>
                <td>Toleman, Lotus, McLaren, Williams</td>
                <td>1984-1994</td>
            <tr align="center" class="right">
                <td>6</td>
                <td><a href="https://en.wikipedia.org/wiki/Fernando_Alonso" target="_blank">Fernando Alonso</a></td>
                <td>32</td>
                <td>39</td>
                <td>Minardi, Renault, McLaren, Ferrari, McLaren(2015-2018), Alpine(Renault 2021-?)</td>
                <td>2001-2018-?</td>
            <tr align="center" class="right">
                <td>7</td>
                <td><a href="https://en.wikipedia.org/wiki/Nigel_Mansell" target="_blank">Nigel Mansell</a></td>
                <td>31</td>
                <td>67</td>
                <td>Lotus, Williams, Ferrari, McLaren</td>
                <td>1980-1995</td>
            <tr align="center" class="right">
                <td>8</td>
                <td><a href="https://en.wikipedia.org/wiki/Jackie_Stewart" target="_blank">Jackie Stewart</a></td>
                <td>27</td>
                <td>81</td>
                <td>BRM, Matra, March, Tyrrell</td>
                <td>1965-1973</td>
            <tr align="center" class="right">
                <td>9</td>
                <td><a href="https://en.wikipedia.org/wiki/Jim_Clark" target="_blank">Jim Clark</a></td>
                <td>27</td>
                <td>Умер в возрасте 32 лет, вовремя гонки Hockenheimring</td>
                <td>Lotus</td>
                <td>1960-1968</td>
            <tr align="center" class="right">
                <td>10</td>
                <td><a href="https://en.wikipedia.org/wiki/Niki_Lauda" target="_blank">Nicky Lauda</a></td>
                <td>25</td>
                <td>Умер в возрасте 70 лет "19.05.2019"</td>
                <td>March, BRM, Ferrari, Brabham, McLaren</td>
                <td>1971-1985</td>
        </tbody>
    </table>
{% endblock content %}