<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta content = "text/css">
    <title>
        {% block title %}

        {% endblock title %} | Flask app
    </title>
    <!-- CSS only -->
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel = "stylesheet" 
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin = "anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for( 'static', filename='css/style.css')}}">
</head>
<body>
  <header>
    <nav class ="navbar navbar-expand-lg navbar-light " align ='center'>
      <div class = "container-fluid">
        <a class = "navbar-brand" href = "index.html"></a>
        <img src = "{{ url_for('static', filename='images/f1_logo.svg') }}" alt = "Лого Формулы-1">
        <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navbarSupportedContent" 
        aria-controls = "navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
          <span class = "navbar-toogler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse " id = "navbarSupportedContent">
          <ul class = "navbar-nav mx-auto">
            <li class = "nav-item">
              <a class = "nav-link active" aria-current = "page" href = "{{ url_for('index') }}">Главная</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "{{ url_for('about') }}">Список рекордов в Формуле-1</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "{{ url_for('teams') }}">Команды в Формуле-1</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href="{{ url_for('contact') }}">Обратная связь</a>
            </li>
            
            
        </div>
      </div>
    </nav>
  </header>
  
  
     
    
      <div class = "container">
          <h1>
              {% block content_title %}
  
              {% endblock content_title %}
          </h1>
          
          {% block content %}
  
          {% endblock content %}
  
      </div>
      <hr>
      <footer>
          <p>&#169ron1n2k, 2020-2021<br></p>
      </footer>
<!-- JavaScript Bundle with Popper -->
<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
 integrity = "sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin = "anonymous"></script>
  </body>
  </html>
    

