{% extends "base.html" %}
{% block title %}
    Feedback
{% endblock title %}

{% block content_title %}            
{% endblock content_title %}

{% block content %}
<form class = "_form" action = "/contact/" method="post">
    <label for = "firstname">Имя: </label><br>
    <input type = "text" required placeholder = "Введите имя" maxlength = "20" 
    id = "firstname" name = "name" ><br>

    <label for = "lastname">Фамилия: </label><br>
    <input type = "text" required placeholder = "Введите фамилию" maxlength = "20" 
    id = "lastname" name = "lastname"><br>

    <label for = "email">Email: </label><br>
    <input type = "text" required placeholder = "Введите вашу почту" maxlength = "20" 
    id = "email" name = "email"><br><br>
    <label for = "theme">Тема сообщения</label><br>
    <select class = "form-select form-select-sm" aria-label = ".form-select-sm" id = "theme" 
    required = "useform" name = "theme">
        <option selected>-Выберите тему предложения-</option>
        <option value = "Предложения">Предложения</option>
        <option value = "Советы по продвижению">Советы по продвижению</option>
        <option value = "Проблемы">Проблемы?</option>
        <option value = "Что-то другое...">Что-то другое...</option>
      </select>
    <br>

    <label for = "feedback">Обратная связь:</label><br>
    <textarea  required placeholder = "Введите текст..." id = "feedback" 
    name = "feedback"  rows = "6" cols = "50"></textarea>
    <br>
    <div class = "form-check form-switch">
        
        <input class = "form-check-input" type = "checkbox" id = "flexSwitchCheckDefault">
        <label class = "form-check-label" for = "flexSwitchCheckDefault">Получить фидбэк на почту</label>
        
      </div>

    <br>
    <button class = "btn btn-success btn-sm" type = "submit" style = "width: 150px; height: 30px;">Отправить</button>
    <button class = "btn btn-danger btn-sm" type = "reset" style = "width: 150px; height: 30px;">Очистить форму</button>

   
</form>


{% endblock content %}
