{% extends "base.html" %}
{% block title %}
    Formula-1
{% endblock title %}


{% block content_title %}  
    Маленькая история Формулы-1
    <div style = "float: left;">
{% endblock content_title %}

{% block content %}
<img src = "{{ url_for('static', filename='images/F1-Logo-history.jpg') }}" width = "575px" height = "389px" alt = "Лого Формулы-1 за всю историю существования" 
align = "left">
<body>
    {% for word in text_index %}
        {{word}}
    {% endfor %}
</body>
{% endblock content %}