{% extends "base.html" %}

{% block title %}
    Teams F1
{% endblock title %}

{% block content_title %}
    <div align='center'>Команды на период 2020 год</div>
{% endblock content_title %}


{% block content %}
        <section class="f1-team">
            <p class="info">
                Тут я приведу сводку по командам, которые учавствуют на данный момент в Чемпионате Формулы-1.
            </p>
            <br>
            <br>

                <h2 align="left">MERCEDES-AMG PETRONAS</h1>
                <img src="{{ url_for('static', filename='images/Mercedes-AMG F1 W11 EQ.jpg') }}" alt="Болид команды MERCEDES-AMG PETRONAS">
                <br><br>
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/lewis-photo.jpg') }}" class='card-img-top' alt="Царь на чёрной стреле">
                    <div class="card-body">
                      <h5 class="card-title">Льюис Хэмильтон</h5>7
                      <p class="card-text">Чемпион мира 2008, 2014, 2015, 2017, 2018 и 2019 года</p>
                        <p>Родился: 7.01.1985 в Стивенэйдже, Великобритания</p>
                        <p>Дебют в Гран При: Австралия'07. Рост: 174 см. Вес: 68 кг</p>
                        <p>Сезоны: 13. Старты: 250. Победы: 84. Поулы: 88. Очки: 3431</p>
                        <p>Живет в Монако. Не женат</p>
                        <p>Гоночный инженер: Питер Боннингтон (Великобритания)</p>
                      <a href="https://ru.wikipedia.org/wiki/%D0%A5%D1%8D%D0%BC%D0%B8%D0%BB%D1%82%D0%BE%D0%BD,_%D0%9B%D1%8C%D1%8E%D0%B8%D1%81" class="btn btn-primary">Википедия</a>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/bottas-photo.jpg') }}" class='card-img-top' alt="Отважный Финн">
                    <div class="card-body">
                      <h5 class="card-title">Валттери Боттас</h5>
                      <p class="card-text">Лучшее достижение: 2-е место в чемпионате (2019)</p>
                        <p>Родился: 28.08.1989 в Настола, Финляндия</p>
                        <p>Дебют в Гран При: Австралия'13. Рост: 173 см. Вес: 70 кг</p>
                        <p>Сезоны: 7. Старты: 138. Победы: 7. Поулы: 11. Очки: 1289</p>
                        <p>Живет в Монако. Не женат</p>
                        <p>Гоночный инженер: Риккардо Мускони</p>
                      <a href="https://ru.wikipedia.org/wiki/%D0%91%D0%BE%D1%82%D1%82%D0%B0%D1%81,_%D0%92%D0%B0%D0%BB%D1%82%D1%82%D0%B5%D1%80%D0%B8" class="btn btn-primary">Википедия</a>
                    </div>
                  </div>
                <br><br>

                
                <h2 align="left">SCUDERIA FERRARI</h2>
                <img src="{{ url_for('static', filename='images/Ferrari-SF1000.jpg') }}" alt="Болид команды SCUDERIA FERRARI">
                <br><br>
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/vettel.jpg') }}" class='card-img-top' alt="Невозмутимый немец">
                    <div class="card-body">
                      <h5 class="card-title">Себастьян Феттель</h5>
                      <p class="card-text">Чемпион мира 2010, 2011, 2012 и 2013 года</p>
                        <p>Родился: 03.07.1987 в Хеппенхайме, Германия</p>
                        <p>Дебют в Гран При: США'07. Рост: 176 см. Вес: 62 кг</p>
                        <p>Сезоны: 13. Старты: 240. Победы: 53. Поулы: 57. Очки: 2985.</p>
                        <p>Живет в Швейцарии. Супруга Ханна, двое дочерей и сын</p>
                        <p>Гоночный инженер: Риккардо Адами (Италия)</p>
                      <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D1%82%D1%82%D0%B5%D0%BB%D1%8C,_%D0%A1%D0%B5%D0%B1%D0%B0%D1%81%D1%82%D1%8C%D1%8F%D0%BD" class="btn btn-primary">Википедия</a>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/leclerc.jpg') }}" class='card-img-top' alt="Человек для побед">
                    <div class="card-body">
                      <h5 class="card-title">Шарль Леклерк</h5>
                      <p class="card-text">Лучшее достижение: 4-е место в чемпионате (2019)</p>
                        <p>Родился: 16 октября 1997 года, Монте-Карло, Монако</p>
                        <p>Дебют в Гран При: Австралия'18. Рост: 179 см. Вес: 69 кг</p>
                        <p>Сезоны: 2. Старты: 42. Победы: 2. Поулы: 7. Очки: 303</p>
                        <p>Живет в Монако. Не женат</p>
                        <p>Гоночный инженер: Джок Клиа (Великобритания)</p>
                      <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B5%D0%BA%D0%BB%D0%B5%D1%80,_%D0%A8%D0%B0%D1%80%D0%BB%D1%8C" class="btn btn-primary">Википедия</a>
                    </div>
                  </div>
                <br><br>

                

                <br><br>
                <h2 align="left">ASTON MARTIN RED BULL RACING</h2>
                <img src="{{ url_for('static', filename='images/RedBull-RB16.jpg') }}" alt="Болид команды ASTON MARTIN RED BULL RACING">
                <br><br>
                
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/verstappen-photo.jpg') }}" class='card-img-top' alt="Оранжевый Гений">
                    <div class="card-body">
                        <h5 class="card-title">Макс Ферстаппен</h5>
                        <p class="card-text">Лучшее достижение: 3-е место в чемпионате (2019)</p>
                            <p>Родился: 30.09.1997 в Хасселте, Бельгия</p>
                            <p>Дебют в Гран При: Австралия'15. Рост: 181 см. Вес: 71 кг</p>
                            <p>Сезоны: 5. Старты: 102. Победы: 8. Поулы: 2. Очки: 948</p>
                            <p>Живёт в Монако. Не женат.</p>
                            <p>Гоночный инженер: Джанпьеро Ламбьязе (Италия)</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D1%80%D1%81%D1%82%D0%B0%D0%BF%D0%BF%D0%B5%D0%BD,_%D0%9C%D0%B0%D0%BA%D1%81" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/albon-port.jpg') }}" class='card-img-top' alt="Первый Таец в Формуле-1" >
                    <div class="card-body">
                        <h5 class="card-title">Александер Албон</h5>
                        <p class="card-text">Лучшее достижение: 8-е место в чемпионате (2019)</p>
                            <p>Таец. Родился: 23.03.1996 в Лондоне.</p>
                            <p>Дебют в Гран При: Австралия'19. Рост: 186 см. Вес: 74 кг</p>
                            <p>Сезоны: 1. Старты: 21. Лучший финиш: 4. Очки: 92</p>
                            <p>Живет в Лондоне. Не женат</p>
                            <p>Гоночный инженер: Саймон Ренни</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%B1%D0%BE%D0%BD,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <br><br>
                <h2 align="left">MCLAREN F1 TEAM</h2>
                <img src="{{ url_for('static', filename='images/McLaren-MCL35.jpg') }}" alt="Болид команды MCLAREN F1 TEAM">
                <br><br>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/pt-sainz.jpg') }}" class='card-img-top' alt="Жгучий испанец">
                    <div class="card-body">
                        <h5 class="card-title">Карлос Сайнз</h5>
                        <p class="card-text">Лучшее достижение: 6-е место в чемпионате (2019)</p>
                            <p>Родился: 01.09.1994 в Мадриде, Испания</p>
                            <p>Дебют в Гран При: Австралия'15. Рост: 177 см. Вес: 66 кг.</p>
                            <p>Сезоны: 5. Старты: 102. Лучший финиш: 3. Очки: 267</p>
                            <p>Живет в Испании. Не женат</p>
                            <p>Гоночный инженер: Том Сталлард</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B9%D0%BD%D1%81,_%D0%9A%D0%B0%D1%80%D0%BB%D0%BE%D1%81_(%D0%BC%D0%BB%D0%B0%D0%B4%D1%88%D0%B8%D0%B9)" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/pt-norris.jpg') }}" class='card-img-top' alt="Милкмэн">
                    <div class="card-body">
                        <h5 class="card-title">Ландо Норрис</h5>
                        <p class="card-text">Лучшее достижение: 11-е место в чемпионате (2019)</p>
                            <p>Родился: 13.11.1999 в Бристоле, Великобритания</p>
                            <p>Дебют в Гран При: Австралия'19. Рост: 170 см. Вес: 64 кг</p>
                            <p>Сезоны: 1. Старты: 21. Лучший финиш: 6. Очки: 49</p>
                            <p>Живёт в Великобритании. Не женат</p>
                            <p>Гоночный инженер: Хосе Мануэль Лопес Гарсия</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D1%80%D0%B8%D1%81,_%D0%9B%D0%B0%D0%BD%D0%B4%D0%BE" class="btn btn-primary">Википедия</a>
                    </div>
                </div>
        
                <br><br>
                <h2 align="left">RENAULT DP WORLD F1 TEAM</h2>
                <img src="{{ url_for('static', filename='images/Renault-R_S_20.jpg') }}" alt="Болид команды RENAULT DP WORLD F1 TEAM">
                <br><br>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/pt-ricc.jpg') }}" class='card-img-top' alt="Риккьярдо или Авокадо?" >
                    <div class="card-body">
                        <h5 class="card-title">Даниэль Риккардо</h5>
                        <p class="card-text">Лучшее достижение: 3-е место в чемпионате (2014, 2016)</p>
                            <p>Родился: 01.07.1989 в Перте, Западная Австралия</p>
                            <p>Дебют в Гран При: Великобритания'11. Рост: 178 см. Вес: 70 кг</p>
                            <p>Сезоны: 9. Старты: 171. Победы: 7. Поул: 3. Очки: 1040</p>
                            <p>Живет в Великобритании. Не женат</p>
                            <p>Гоночный инженер: Карел Лоос (Бельгия)</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B8%D0%BA%D0%BA%D0%B0%D1%80%D0%B4%D0%BE,_%D0%94%D0%B0%D0%BD%D0%B8%D1%8D%D0%BB%D1%8C" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/pt-ocon1.jpg') }}" class='card-img-top' alt="Французкий Гений">
                    <div class="card-body">
                        <h5 class="card-title">Эстебан Окон</h5>
                        <p class="card-text">Лучшее достижение: 8-е место в чемпионате (2017)</p>
                            <p>Родился: 17.09.1996 в Эврё, Франция</p>
                            <p>Дебют в Гран При:Бельгия'16. Рост: 186 см. Вес: 68 кг</p>
                            <p>Сезоны: 3. Старты: 50. Лучш.финиш: 5. Очки: 136</p>
                            <p>Живет в Великобритании. Не женат</p>
                            <p>Гоночный инженер: Марк Слейд</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BA%D0%BE%D0%BD,_%D0%AD%D1%81%D1%82%D0%B5%D0%B1%D0%B0%D0%BD" class="btn btn-primary">Википедия</a>
                    </div>
                </div>
        
                <br><br>
                <h2 align="left">SCUDERIA ALPHATAURI HONDA</h2>
                
                <img src="{{ url_for('static', filename='images/AlphaTauri-AT01.jpg') }}" alt="Болид команды SCUDERIA ALPHATAURI HONDA">
                <br><br>
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/kvyat-port.jpg') }}" class='card-img-top' alt="Русский медведь">
                    <div class="card-body">
                        <h5 class="card-title">Даниил Квят</h5>
                        <p class="card-text">Лучшее достижение: 7-е место в чемпионате (2015)</p>
                            <p>Родился: 26.04.1994 в Уфе, Россия</p>
                            <p>Дебют в Гран При: Австралия'14. Рост: 183 см. Вес: 60 кг</p>
                            <p>Сезоны: 5. Старты: 93. Лучш.финиш: 2 Лучш.круг: 1. Очки: 170</p>
                            <p>Живет в Монако. Не женат, дочь Пенелопа</p>
                            <p>Гоночный инженер: Маттиа Спини</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B2%D1%8F%D1%82,_%D0%94%D0%B0%D0%BD%D0%B8%D0%B8%D0%BB_%D0%92%D1%8F%D1%87%D0%B5%D1%81%D0%BB%D0%B0%D0%B2%D0%BE%D0%B2%D0%B8%D1%87" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/gasly.jpg') }}" class='card-img-top' alt="Энергичный Человек">
                    <div class="card-body">
                        <h5 class="card-title">Пьер Гасли</h5>
                        <p class="card-text">Лучшее достижение: 7-е место в чемпионате (2019)</p>
                            <p>Родился: 07.02.1996 в Руане, Франция</p>
                            <p>Дебют в Гран При: Малайзия'17. Рост: 177 см. Вес: 70 кг.</p>
                            <p>Сезоны: 3. Старты: 47. Лучший финиш: 2. Очки: 124</p>
                            <p>Живет во Франции.</p>
                            <p>Гоночный инженер: Пьер Амлин</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D1%81%D0%BB%D0%B8,_%D0%9F%D1%8C%D0%B5%D1%80" class="btn btn-primary">Википедия</a>

                    </div>
                </div>
        
                <br><br>
                <h2 align="left">BWT RACING POINT F1 TEAM</h2>
                <img src="{{ url_for('static', filename='images/RacingPoint-RP20.jpg') }}" alt="Болид команды BWT RACING POINT F1 TEAM">
                
                <br><br>
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/perez.jpg') }}" class='card-img-top' alt="Самый быстрый мексиканец">
                    <div class="card-body">
                        <h5 class="card-title">Серхио Перез</h5>
                        <p class="card-text">Лучшее достижение: 7-е место в чемпионате (2016 и 2017)</p>
                            <p>Родился: 26.01.1990 в Гвадалахаре, Мексика</p>
                            <p>Дебют в Гран При: Австралия'11. Рост: 175 см. Вес: 68 кг</p>
                            <p>Сезоны: 9. Старты: 176. Лучший финиш: 2. Очки: 581</p>
                            <p>Живет в Мадриде. Женат, есть сын и дочь</p>
                            <p>Гоночный инженер: Марко Шюпбах </p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D0%B5%D1%81,_%D0%A1%D0%B5%D1%80%D1%85%D0%B8%D0%BE" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/stroll.jpg') }}" class='card-img-top' alt="Богатый канадец">
                    <div class="card-body">
                        <h5 class="card-title">Лэнс Стролл</h5>
                        <p class="card-text">Лучшее достижение: 12-е место в чемпионате (2017)</p>
                            <p>Родился: 29.10.1998 в Монреале, Канада</p>
                            <p>Дебют в Гран При: Австралия'17. Рост: 182 см. Вес: 76 кг</p>
                            <p>Сезоны: 3. Старты: 62. Лучший финиш: 3. Очки: 67</p>
                            <p>Живет в Лондоне, Великобритания. Не женат</p>
                            <p>Гоночный инженер: - </p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D1%80%D0%BE%D0%BB%D0%BB,_%D0%9B%D1%8D%D0%BD%D1%81" class="btn btn-primary">Википедия</a>

                    </div>
                </div>
        
                <br><br>
                <h2 align="left">ALFA ROMEO RACING</h2>
                <img src="{{ url_for('static', filename='images/AlfaRomeo-C39.jpg') }}" alt="Болид команды ALFA ROMEO RACING">
                
                <br><br>
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/kimi.jpg') }}" class='card-img-top' alt="ICEMAN">
                    <div class="card-body">
                        <h5 class="card-title">Кими Райкконен</h5>
                        <p class="card-text">Чемпион мира 2007 года</p>
                            <p>Родился: 17.10.1979 в Эспо, Финляндия</p>
                            <p>Дебют в Гран При: Австралия'01. Рост: 175 см. Вес: 70 кг</p>
                            <p>Сезоны: 17. Старты: 313. Победы: 21. Поулы: 18. Очки: 1859</p>
                            <p>Живет в Швейцарии. Женат, сын Робин, дочь Рианна</p>
                            <p>Гоночный инженер: Дэйв Гринвуд</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%B9%D0%BA%D0%BA%D0%BE%D0%BD%D0%B5%D0%BD,_%D0%9A%D0%B8%D0%BC%D0%B8" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/giovinazzi-port.jpg') }}" class='card-img-top' alt="С-Стабильность">
                    <div class="card-body">
                        <h5 class="card-title">Антонио Джовинацци</h5>
                        <p class="card-text">Лучшее достижение: 17-е место в чемпионате (2019)</p>
                            <p>Родился: 14 декабря 1993 года, Мартина Франка, Италия</p>
                            <p>Дебют в Гран При: Австралия'17. Рост: 183 см. Вес: 62 кг</p>
                            <p>Сезоны: 2. Старты: 23. Лучший финиш: 5. Очки: 14</p>
                            <p>Живет в Италии. Не женат</p>
                            <p>Гоночный инженер: Хеви Пухолар</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%BE%D0%B2%D0%B8%D0%BD%D0%B0%D1%86%D1%86%D0%B8,_%D0%90%D0%BD%D1%82%D0%BE%D0%BD%D0%B8%D0%BE" class="btn btn-primary">Википедия</a>

                    </div>
                </div>
                <br><br>
                <h2 align="left">HAAS F1 TEAM</h2>
                <img src="{{ url_for('static', filename='images/Haas-VF-20.jpg') }}" alt="Болид команды HAAS F1 TEAM">
                
                <br><br>
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/gro-port.jpg') }}" class='card-img-top' alt="Французкий крашмэн">
                    <div class="card-body">
                        <h5 class="card-title">Роман Грожан</h5>
                        <p class="card-text">Лучшее достижение: 7-е место в чемпионате (2013)</p>
                            <p>Родился: 17.04.1986 в Женеве, Швейцария</p>
                            <p>Дебют в Гран При: Европа'09. Рост: 180 см. Вес: 71 кг</p>
                            <p>Сезоны: 10. Старты: 164. Лучший финиш: 2. Очки: 389</p>
                            <p>Живет в Швейцарии. Женат, cыновья Саша и Симон, дочь Камилла</p>
                            <p>Гоночный инженер: Доминик Хейнс (Великобритания)</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%BE%D0%B6%D0%B0%D0%BD,_%D0%A0%D0%BE%D0%BC%D0%B5%D0%BD" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/mag-port.jpg') }}" class='card-img-top' alt="Дядюшка МАГ">
                    <div class="card-body">
                        <h5 class="card-title">Кевин Магнуссен</h5>
                        <p class="card-text">Лучшее достижение: 9-е место в чемпионате (2018)</p>
                            <p>Родился: 05.10.1992 в Роскилле, Дания</p>
                            <p>Дебют в Гран При: Австралия'14. Рост: 174 см. Вес: 73 кг</p>
                            <p>Сезоны: 5. Старты: 102. Лучший финиш: 2. Очки: 157</p>
                            <p>Живет в Дубае. Женат</p>
                            <p>Гоночный инженер: Гэри Ганнон (Великобритания)</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%B3%D0%BD%D1%83%D1%81%D1%81%D0%B5%D0%BD,_%D0%9A%D0%B5%D0%B2%D0%B8%D0%BD" class="btn btn-primary">Википедия</a>

                    </div>
                </div>
                <br><br>
                <h2 align="left">WILLIAMS RACING</h2>
                <img src="{{ url_for('static', filename='images/Williams-FW43.jpg') }}" alt="Болид команды WILLIAMS RACING">
                
                <br><br>
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/russell.jpg') }}" class='card-img-top'  alt="Новоиспечённый кандидат на Чемпиона">
                    <div class="card-body">
                        <h5 class="card-title">Джордж Рассел</h5>
                        <p class="card-text">Лучшее достижение: 20-е место в чемпионате (2019)</p>
                            <p>Родился: 15.02.1998 в Кингс-Линне, Великобритания</p>
                            <p>Дебют в Гран При: Австралия'19. Рост: 186 см. Вес: 68 кг</p>
                            <p>Сезоны: 1. Старты: 21. Лучший финиш: 11</p>
                            <p>Живет в Великобритании. Не женат</p>
                            <p>Гоночный инженер: Джеймс Урвин</p> 
                        <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%81%D1%81%D0%B5%D0%BB%D0%BB,_%D0%94%D0%B6%D0%BE%D1%80%D0%B4%D0%B6_(%D0%B0%D0%B2%D1%82%D0%BE%D0%B3%D0%BE%D0%BD%D1%89%D0%B8%D0%BA)" class="btn btn-primary">Википедия</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/latifi.jpg') }}" class='card-img-top' alt="Просто Латифи">
                    <div class="card-body">
                        <h5 class="card-title">Николас Латифи</h5>
                        <p class="card-text">Дебютант чемпионата</p>
                            <p>Родился: 29.06.1995 в Монреале, Канада</p>
                            <p>Дебют в Гран При: Австралия'20. Рост: 186 см. Вес: 73,5 кг</p>
                            <p>Сезоны: 0. Старты: 0</p>
                            <p>Живет в Великобритании. Не женат</p>
                            <p>Гоночный инженер: Гаэтан Жего</p>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D1%82%D0%B8%D1%84%D0%B8,_%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D1%81" class="btn btn-primary">Википедия</a>

                    </div>
                </div>
        
        </section>       
{% endblock content %}